* {
    font-family: "Inter", sans-serif;
}

.timing__container {
    display: flex;
    width: 100%;
    background-color: #F2F2F2;
    justify-content: center;
    flex-wrap: nowrap;
    height: 30px;
    align-items: center;
}

.timing__container-nav {
    display: flex;
    justify-content: space-around;
    
}

.timing__container-icons {
    display: flex;
    gap: 17px;
    width: 17px;
    height: 17px;
    margin-left: 800px;
}

.logo__container {
    display: flex;
    /* height: 160px; */
    justify-content: center;
}

.logo__container-icon {
    display: flex;
    width: 50px;
    height: 50px;
    margin-top: 40px;
}

.logo__container-contacts {
    margin-left: 800px;
    display: flex;
    height: 68px;
    margin-top: 40px;
}

.contacts__info {
    display: flex;
    margin-left: 60px;
}

.contacts__info-text {
    margin-top: -10px;
    margin-left: 10px;
}

.little-h3 {
    font-family: "Mulish", sans-serif;
    color: #1C2752;
    font-size: 20px;
    font-weight: 700;
}

.info-paragraph {
    margin-top: -10px;
    color: #7E7E7E;
    font-size: 18px;
    font-weight: 400;;
}

.navbar__container {
    position: relative;
    top: 80px;
    background-color: #FFB342;
    display: flex;
    justify-content: center;
    height: 93px;
    width: 1199px;
    padding: 14px;
    margin: 0 auto;
}

.navbar__container-anchors {
    display: flex;
    gap: 20px;
    align-items: center;
}

.none {
    text-decoration: none;
    color: #2F2F2F;
    font-size: 20px;
    font-weight: 600;
}

.navbar__container-anchors select {
    width: 90px;
    height: 30px;
    background: none;
    border: none;
    color: #2F2F2F;
    font-size: 20px;
    font-weight: 600;
}

.navbar__container-button {
    display: flex;
    padding: 20px 22px 21px 22px;
    background-color: #1C2752;
    border: 0;
    margin-left: 344px;
}

.navbar__container-button input {
    border: none;
    background: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.cover__container {
    display: flex;
    align-items: center;
    background-image: url("images/cover-Image.png");
    background-repeat: no-repeat;
    width: 1900px;
    height: 924px;
}

.cover__text {
    text-align: start;
    margin-left: 360px;
}

.cover__text p {
    color: gray;
}

.cover__text h1 {
    font-family: "Mulish", sans-serif;
    width: 619px;
    height: 143px;
    color: white;
    font-size: 60px;
    font-weight: 800;
}

.cover__text input {
    padding: 20px 33px 21px 33px;
    gap: 10px;
    background-color: #FFB342;
    color: #1C2752;
    border: none;
    font-size: 20px;
    font-weight: 600;
}